.container {

}
.container .heroes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 700px;
  background-color: orange;
}
.container .heroes .hero {
  width: 80px;
  height: 84px;
  margin: 4px;
  background-color: #555;
}
.container .heroes .hero .image {
  
}