.parent {
  width: 200px;
  height: 150px;
  background-color: royalblue;
  margin: 20px;
  padding: 20px;
  /* overflow-x: auto; */
  /* overflow-y: auto; */
  overflow: auto;

}
.child {
  width: 300px;
  height: 300px;
  background-color: orange;
} 